
.resultlistPage-button{
  height: 40px;
  width: 160px;
  background-color: #2081c3;
  color: white;
  border-radius: 4px;  
  font-size: 15px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.resultlistPage-button:hover{
  background-color: green;
  color: white;
}

.resultlistPage {  
  background:url(../iq_resultlist.jpg);  
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 100%;
  background-position-y: 100%;
  height: 50vw;    
}


.table-resultlist {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;      
}

.header{
  margin-top: 10rem;
  color: darkslategrey;
  font-weight: bold;  
  margin-left: 20rem;
}

.tableResultlist { 
  display: table;
  margin-top: 1rem;
  display: table;  
  font-size: 16px;
  color: darkslategrey;  
  background-color: lightgray;     
}

/* .tableResultlist:hover { 
  background-color: darkgrey;
  font-size: 20px;
} */
.trResultlist{ 
  display:table-row;     
}

.trResultlist-header{ 
  display:table-row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;     
}

.trResultlist:nth-child(odd){
  background-color: white;
}

.tdResultlist { 
  display:table-cell; 
  text-align: left;
  padding: 1rem 0.5rem;
   
}
.thResultlist {
  display:table-cell; 
  text-align: left;
  padding: 1rem 0.5rem; 
  font-weight: bolder;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 0; */
  background-color: white;   
}