.homePage-container {  
  background: url(../iq_grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;
  background-position-y: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homePage-container div {  
  margin-left: 5rem; 
  display: flex;
  flex-direction: column;  
  align-items: flex-start;  
  font-size: 30px;
  color: darkslategrey;   
}

.homePage-container h1 {
  font-size: 100px;
  color: #2081c3;
}